<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link type="text/css" rel="stylesheet"
		href="javax.faces.resource/theme.css5bc9.css?ln=primefaces-manhattan-teal-yellow" />
	<link type="text/css" rel="stylesheet"
		href="javax.faces.resource/fa/font-awesome.css408e.css?ln=primefaces&amp;v=6.2" />
	<link type="text/css" rel="stylesheet"
		href="javax.faces.resource/components.css.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.css?ln=primefaces&amp;v=6.2" />
	<script type="text/javascript"
		src="javax.faces.resource/jquery/jquery.js.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.node0?ln=primefaces&amp;v=6.2"></script>
	<script type="text/javascript"
		src="javax.faces.resource/jquery/jquery-plugins.js.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.node0?ln=primefaces&amp;v=6.2"></script>
	<script type="text/javascript"
		src="javax.faces.resource/core.js.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.node0?ln=primefaces&amp;v=6.2"></script>
	<script type="text/javascript"
		src="javax.faces.resource/components.js.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.node0?ln=primefaces&amp;v=6.2"></script>
	<link type="text/css" rel="stylesheet"
		href="javax.faces.resource/charts/charts.css.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.css?ln=primefaces&amp;v=6.2" />
	<script type="text/javascript"
		src="javax.faces.resource/charts/charts.js.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.node0?ln=primefaces&amp;v=6.2"></script>
	<link type="text/css" rel="stylesheet"
		href="javax.faces.resource/schedule/schedule.css.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.css?ln=primefaces&amp;v=6.2" />
	<script type="text/javascript"
		src="javax.faces.resource/moment/moment.js.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.node0?ln=primefaces&amp;v=6.2"></script>
	<script type="text/javascript"
		src="javax.faces.resource/schedule/schedule.js.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436408e.node0?ln=primefaces&amp;v=6.2"></script>
	<link type="text/css" rel="stylesheet"
		href="javax.faces.resource/css/nanoscroller.css.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.css?ln=manhattan-layout" />
	<link type="text/css" rel="stylesheet"
		href="javax.faces.resource/css/layout-teal-yellow.css.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.css?ln=manhattan-layout" />
	<script type="text/javascript">if(window.PrimeFaces){PrimeFaces.settings.locale='en_US';PrimeFaces.settings.projectStage='Development';}</script>
	<ui:insert name="title"></ui:insert>
	<script type="text/javascript"
		src="javax.faces.resource/js/nanoscroller.js.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.node0?ln=manhattan-layout"></script>
	<script type="text/javascript"
		src="javax.faces.resource/js/layout.js.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.node0?ln=manhattan-layout"></script>
	<script type="text/javascript">
               //<![CDATA[
               function skinBar() {
                   this.cfg.shadow = false;
                   this.cfg.title = '';
                   this.cfg.seriesColors = ['#3984b8','#7e8dcd'];
                   this.cfg.grid = {
                       background: '#ffffff',
                       borderColor: '#ffffff',
                       gridLineColor: '#dee4e9',
                       shadow: false
                   };
                   this.cfg.axesDefaults = {
                       borderWidth: 0.1,
                       borderColor: 'dce2e7',
                       rendererOptions: {
                           textColor: '#757575'
                       }
                   };
                   this.cfg.seriesDefaults = {
                       shadow: false,
                       lineWidth: 1,
                       renderer: $.jqplot.BarRenderer,
                       markerOptions: {
                           shadow: false,
                           size: 7,
                           style: 'circle'
                       }
                   }
               }
               //]]>
           </script>
	<style type="text/css">
.main-content {
	padding: 0;
}

.floatleft {
	margin: 80px;
}
</style>
</h:head>
<body>
	<ui:include src="/include/Header.xhtml" />

	<div class="floatleft">
		<ui:insert name="Contnet"></ui:insert>
	</div>


</body>
</html>
