<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/Template/TemplateMain.xhtml"> 
      
<ui:define name="title">
<title>Alpha</title>
           </ui:define>
           <ui:define name="Contnet">
           
           
           
           </ui:define>

</ui:composition>
