<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<div class="layout-wrapper layout-slim layout-light">
		<div class="layout-main">

			<div class="layout-topbar">
				<a href="#" id="layout-menu-btn" class="menu-btn"> <i
					class="fa fa-bars"></i>
				</a>

				<div class="topbar-search">
					<input type="text" class="ui-widget" /> <i class="fa fa-search"></i>
				</div>

				<div class="layout-topbar-menu-wrapper">
					<ul class="topbar-menu">
						<li class="profile-item"><a href="#"><img id="j_idt13"
								src="javax.faces.resource/images/avatar.png.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.png?ln=manhattan-layout"
								alt="" /> <span class="topbar-item-name profile-name">Madison
									Hughes</span> </a>

							<ul class="animated">
								<li role="menuitem"><a href="#"> <i
										class="fa fa-fw fa-user"></i> <span>Profile</span> <span
										class="topbar-badge">5</span>
								</a></li>
								<li role="menuitem"><a href="#"> <i
										class="fa fa-fw fa-user-secret"></i> <span>Privacy</span> <span
										class="topbar-badge">2</span>
								</a></li>
								<li role="menuitem"><a href="#"> <i
										class="fa fa-fw fa-cog"></i> <span>Settings</span>
								</a></li>
								<li role="menuitem"><a href="#"> <i
										class="fa fa-fw fa-sign-out"></i> <span>Logout</span>
								</a></li>
							</ul></li>
						<li><a href="#"> <i
								class="topbar-icon swing fa fa-fw fa-envelope-o"></i> <span
								class="topbar-badge rubberBand">5</span> <span
								class="topbar-item-name">Messages</span>
						</a>
							<ul class="animated">
								<li role="menuitem"><a href="#" class="topbar-message"><img
										id="j_idt15"
										src="javax.faces.resource/images/avatar1.png.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.png?ln=manhattan-layout"
										alt="" width="35" /> <span>Give me a call</span> </a></li>
								<li role="menuitem"><a href="#" class="topbar-message"><img
										id="j_idt17"
										src="javax.faces.resource/images/avatar2.png.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.png?ln=manhattan-layout"
										alt="" width="35" /> <span>Reports attached</span> </a></li>
								<li role="menuitem"><a href="#" class="topbar-message"><img
										id="j_idt19"
										src="javax.faces.resource/images/avatar3.png.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.png?ln=manhattan-layout"
										alt="" width="35" /> <span>About your invoice</span> </a></li>
								<li role="menuitem"><a href="#" class="topbar-message"><img
										id="j_idt21"
										src="javax.faces.resource/images/avatar2.png.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.png?ln=manhattan-layout"
										alt="" width="35" /> <span>Meeting today</span> </a></li>
								<li role="menuitem"><a href="#" class="topbar-message"><img
										id="j_idt23"
										src="javax.faces.resource/images/avatar4.png.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.png?ln=manhattan-layout"
										alt="" width="35" /> <span>Out of office</span> </a></li>
							</ul></li>
						<li><a href="#"> <i class="topbar-icon fa fa-fw fa-globe"></i>
								<span class="topbar-badge rubberBand">2</span> <span
								class="topbar-item-name">Notifications</span>
						</a>
							<ul class="animated">
								<li role="menuitem"><a href="#"> <i
										class="fa fa-fw fa-tasks"></i> <span>Pending tasks</span> <span
										class="topbar-badge">6</span>
								</a></li>
								<li role="menuitem"><a href="#"> <i
										class="fa fa-fw fa-calendar-check-o"></i> <span>Meeting
											today</span>
								</a></li>
								<li role="menuitem"><a href="#"> <i
										class="fa fa-fw fa-download"></i> <span>Download</span>
								</a></li>
								<li role="menuitem"><a href="#"> <i
										class="fa fa-fw fa-plane"></i> <span>Book flight</span>
								</a></li>
							</ul></li>
					</ul>

					<a href="#" class="topbar-menu-btn"><img id="j_idt25"
						src="javax.faces.resource/images/avatar.png.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.png?ln=manhattan-layout"
						alt="" /> </a> <a href="#" class="rightpanel-btn"> <i
						class="topbar-icon fa fa-fw fa-outdent"></i>
					</a>
				</div>
			</div>

			<div class="layout-content">
				<div class="ui-g dashboard">
					<div class="ui-g-12 ui-lg-6 ui-xl-3">
						<div class="ui-g overview-box overview-box-1">
							<div class="overview-box-icon">
								<i class="fa fa-inbox"></i>
							</div>
							<div class="overview-box-content">
								<div class="overview-box-title">Unread Messages</div>
								<div class="overview-box-stats">150</div>
								<div class="overview-box-details">+%50 more than yesterday</div>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-lg-6 ui-xl-3">
						<div class="ui-g overview-box overview-box-2">
							<div class="overview-box-icon">
								<i class="fa fa-map-marker"></i>
							</div>
							<div class="overview-box-content">
								<div class="overview-box-title">Check-Ins</div>
								<div class="overview-box-stats">532</div>
								<div class="overview-box-details">+%75 more than yesterday</div>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-lg-6 ui-xl-3">
						<div class="ui-g overview-box overview-box-3">
							<div class="overview-box-icon">
								<i class="fa fa-folder"></i>
							</div>
							<div class="overview-box-content">
								<div class="overview-box-title">Files Synced</div>
								<div class="overview-box-stats">25</div>
								<div class="overview-box-details">+%15 more than yesterday</div>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-lg-6 ui-xl-3">
						<div class="ui-g overview-box overview-box-4">
							<div class="overview-box-icon">
								<i class="fa fa-user"></i>
							</div>
							<div class="overview-box-content">
								<div class="overview-box-title">Users Online</div>
								<div class="overview-box-stats">156</div>
								<div class="overview-box-details">-%20 less than last week</div>
							</div>
						</div>
					</div>
















				</div>
			</div>


			<div class="layout-main-mask"></div>
		</div>

		<div class="layout-rightpanel">
			<div class="nano">
				<div class="nano-content right-panel-scroll-content">
					<div class="layout-rightpanel-header">
						<div class="weather-day">Wednesday</div>
						<div class="weather-date">Jan 26</div>
					</div>

					<div class="layout-rightpanel-content">
						<h1>Weather</h1>
						<h2>New York, USA</h2>

						<div class="weather-today">
							<span class="weather-today-value">21℃</span><img id="j_idt154"
								src="javax.faces.resource/images/dashboard/weather-icon-2.svg.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.svg?ln=manhattan-layout"
								alt="" width="60" />
						</div>

						<ul class="weekly-weather">
							<li>Thursday <img id="j_idt156"
								src="javax.faces.resource/images/dashboard/weather-icon-1.svg.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.svg?ln=manhattan-layout"
								alt="" /> <span class="weekly-weather-value">24</span>
							</li>
							<li>Friday <img id="j_idt158"
								src="javax.faces.resource/images/dashboard/weather-icon-3.svg.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.svg?ln=manhattan-layout"
								alt="" /> <span class="weekly-weather-value">19</span>
							</li>
							<li>Saturday <img id="j_idt160"
								src="javax.faces.resource/images/dashboard/weather-icon-4.svg.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.svg?ln=manhattan-layout"
								alt="" /> <span class="weekly-weather-value">15</span>
							</li>
							<li>Sunday <img id="j_idt162"
								src="javax.faces.resource/images/dashboard/weather-icon-1.svg.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.svg?ln=manhattan-layout"
								alt="" /> <span class="weekly-weather-value">24</span>
							</li>
							<li>Monday <img id="j_idt164"
								src="javax.faces.resource/images/dashboard/weather-icon-2.svg.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.svg?ln=manhattan-layout"
								alt="" /> <span class="weekly-weather-value">21</span>
							</li>
							<li>Tuesday <img id="j_idt166"
								src="javax.faces.resource/images/dashboard/weather-icon-3.svg.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.svg?ln=manhattan-layout"
								alt="" /> <span class="weekly-weather-value">20</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="layout-sidebar">
			<div class="layout-sidebar-logo">
				<a href="dashboard.html"><img id="j_idt169"
					src="javax.faces.resource/images/logo-manhattan.png.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436702f.png?ln=manhattan-layout"
					alt="" /> </a> <a href="#" id="layout-sidebar-anchor"
					class="layout-sidebar-anchor" title="Toggle Menu"> <i
					class="fa"></i>
				</a>
			</div>

			<div class="nano">
				<div class="nano-content sidebar-scroll-content">
					<div class="layout-menu-container">
						<form id="menuform" name="menuform" method="post"
							
							enctype="application/x-www-form-urlencoded">
							<input type="hidden" name="menuform" value="menuform" />
							<ul id="menuform:j_idt171" class="layout-menu">
								<li id="menuform:pm_dashboard" role="menuitem"><a
									href="dashboard.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
										class="fa fa-home fa-fw"></i><span>Dashboard</span></a></li>
								<li id="menuform:pm_menu_colors" role="menuitem"><a
									href="#"><i class="fa fa-paint-brush fa-fw"></i><span>Soutenances
										</span><i
										class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
								<ul role="menu">
										<li id="menuform:pm_menu_dark" role="menuitem"><a
											href="http://localhost:18080/PFEproject-web/PageTemplatePFE/SecondPage.jsf"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_menu_dark':'menuform:pm_menu_dark'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-square fa-fw"></i><span>Toutes les soutenances</span></a></li>
										<li id="menuform:pm_menu_light" role="menuitem"><a
											href="http://localhost:18080/PFEproject-web/PageTemplatePFE/MesSoutenances.jsf"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_menu_light':'menuform:pm_menu_light'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-square-o fa-fw"></i><span>Mes soutenances</span></a></li>
									</ul></li>
								<li id="menuform:pm_layout_modes" role="menuitem"><a
									href="#"><i class="fa fa-gear fa-fw"></i><span>Mes FichePFE
									</span><i class="fa fa-fw layout-submenu-toggler fa-angle-down"></i><span
										class="menuitem-badge">5</span></a>
								<ul role="menu">
										<li id="menuform:pm_layout_slim" role="menuitem"><a
											href="http://localhost:18080/PFEproject-web/PageTemplatePFE/FichePFE.jsf"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_slim':'menuform:pm_layout_slim'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-window-restore fa-fw"></i><span>Services</span></a></li>
										<li id="menuform:pm_layout_static" role="menuitem"><a
											href="http://localhost:18080/PFEproject-web/PageTemplatePFE/mailing.jsf"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_static':'menuform:pm_layout_static'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-bars fa-fw"></i><span>Email</span></a></li>
										<li id="menuform:pm_layout_overlay" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_overlay':'menuform:pm_layout_overlay'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-arrows-h fa-fw"></i><span>Mes Statistiques</span></a></li>
										<li id="menuform:pm_layout_horizontal" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_horizontal':'menuform:pm_layout_horizontal'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-arrows-v fa-fw"></i><span>Horizontal</span></a></li>
										<li id="menuform:pm_layout_toggle" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_toggle':'menuform:pm_layout_toggle'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-chevron-left fa-fw"></i><span>Toggle</span></a></li>
									</ul></li>
								<li id="menuform:pm_themes_colors" role="menuitem"><a
									href="#"><i class="fa fa-paint-brush fa-fw"></i><span>Themes</span><i
										class="fa fa-fw layout-submenu-toggler fa-angle-down"></i><span
										class="menuitem-badge">16</span></a>
								<ul role="menu">
										<li id="menuform:pm_layout_teal_yellow" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_teal_yellow':'menuform:pm_layout_teal_yellow'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Teal - Yellow</span></a></li>
										<li id="menuform:pm_layout_blue_orange" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_blue_orange':'menuform:pm_layout_blue_orange'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Blue - Orange</span></a></li>
										<li id="menuform:pm_layout_pink_teal" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_pink_teal':'menuform:pm_layout_pink_teal'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Pink - Teal</span></a></li>
										<li id="menuform:pm_layout_indigo_purple" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_indigo_purple':'menuform:pm_layout_indigo_purple'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Indigo - Purple</span></a></li>
										<li id="menuform:pm_layout_green_pink" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_green_pink':'menuform:pm_layout_green_pink'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Green - Pink</span></a></li>
										<li id="menuform:pm_layout_indigo_yellow" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_indigo_yellow':'menuform:pm_layout_indigo_yellow'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Indigo - Yellow</span></a></li>
										<li id="menuform:pm_layout_cyan_deeporange" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_cyan_deeporange':'menuform:pm_layout_cyan_deeporange'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Cyan - Deep
													Orange</span></a></li>
										<li id="menuform:pm_layout_green_orange" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_green_orange':'menuform:pm_layout_green_orange'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Green - Orange</span></a></li>
										<li id="menuform:pm_layout_orange_cyan" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_orange_cyan':'menuform:pm_layout_orange_cyan'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Orange - Cyan</span></a></li>
										<li id="menuform:pm_layout_blue_grey" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_blue_grey':'menuform:pm_layout_blue_grey'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Blue - Grey</span></a></li>
										<li id="menuform:pm_layout_deeppurple_teal" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_deeppurple_teal':'menuform:pm_layout_deeppurple_teal'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Deep Purple -
													Teal</span></a></li>
										<li id="menuform:pm_layout_pink_cyan" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_pink_cyan':'menuform:pm_layout_pink_cyan'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Pink - Cyan</span></a></li>
										<li id="menuform:pm_layout_orange_indigo" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_orange_indigo':'menuform:pm_layout_orange_indigo'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Orange - Indigo</span></a></li>
										<li id="menuform:pm_layout_darkpink_cyan" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_darkpink_cyan':'menuform:pm_layout_darkpink_cyan'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Dark Pink -
													Cyan</span></a></li>
										<li id="menuform:pm_layout_green_purple" role="menuitem"><a
											href="#"
											onclick="PrimeFaces.addSubmitParam('menuform',{'menuform:pm_layout_green_purple':'menuform:pm_layout_green_purple'}).submit('menuform');return false;PrimeFaces.onPost();"><i
												class="fa fa-diamond fa-fw"></i><span>Green - Purple</span></a></li>
									</ul></li>
								<li id="menuform:pm_components" role="menuitem"
									class="orange-badge"><a href="#"><i
										class="fa fa-sitemap fa-fw"></i><span>Components</span><i
										class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
								<ul role="menu">
										<li id="menuform:pm_sample" role="menuitem"><a
											href="sample.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-columns fa-fw"></i><span>Sample Page</span></a></li>
										<li id="menuform:pm_forms" role="menuitem"><a
											href="forms.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-code fa-fw"></i><span>Forms</span></a></li>
										<li id="menuform:pm_data" role="menuitem"><a
											href="data.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-table fa-fw"></i><span>Data</span></a></li>
										<li id="menuform:pm_panels" role="menuitem"><a
											href="panel.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-list-alt fa-fw"></i><span>Panels</span></a></li>
										<li id="menuform:pm_overlays" role="menuitem"><a
											href="overlay.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-square fa-fw"></i><span>Overlays</span></a></li>
										<li id="menuform:pm_menus" role="menuitem"><a
											href="menu.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-minus-square-o fa-fw"></i><span>Menus</span></a></li>
										<li id="menuform:pm_messages" role="menuitem"><a
											href="messages.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-circle-o-notch fa-fw"></i><span>Messages</span></a></li>
										<li id="menuform:pm_charts" role="menuitem"><a
											href="charts.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-area-chart fa-fw"></i><span>Charts</span></a></li>
										<li id="menuform:pm_file" role="menuitem"><a
											href="file.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-arrow-circle-o-up fa-fw"></i><span>File</span></a></li>
										<li id="menuform:pm_misc" role="menuitem"><a
											href="misc.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-user-secret fa-fw"></i><span>Misc</span></a></li>
									</ul></li>
								<li id="menuform:pm_default" role="menuitem"><a href="#"><i
										class="fa fa-life-saver fa-fw"></i><span>Pages</span><i
										class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
								<ul role="menu">
										<li id="menuform:pm_empty" role="menuitem"><a
											href="empty.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
												class="fa fa-square-o fa-fw"></i><span>Empty Page</span></a></li>
										<li id="menuform:pm_landing" role="menuitem"><a
											href="landing.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"
											target="_blank"><i class="fa fa-globe fa-fw"></i><span>Landing
													Page</span></a></li>
										<li id="menuform:pm_login" role="menuitem"><a
											href="login.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"
											target="_blank"><i class="fa fa-sign-in fa-fw"></i><span>Login
													Page</span></a></li>
										<li id="menuform:pm_error" role="menuitem"><a
											href="error.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"
											target="_blank"><i class="fa fa-exclamation-circle fa-fw"></i><span>Error
													Page</span></a></li>
										<li id="menuform:pm_404" role="menuitem"><a
											href="404.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"
											target="_blank"><i class="fa fa-times fa-fw"></i><span>404
													Page</span></a></li>
										<li id="menuform:pm_access" role="menuitem"><a
											href="access.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"
											target="_blank"><i
												class="fa fa-exclamation-triangle fa-fw"></i><span>Access
													Denied Page</span></a></li>
									</ul></li>
								<li id="menuform:pm_hierarchy" role="menuitem"><a href="#"><i
										class="fa fa-tree fa-fw"></i><span>Menu Hierarchy</span><i
										class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
								<ul role="menu">
										<li id="menuform:pm_sm1" role="menuitem"><a href="#"><i
												class="fa fa-sign-in fa-fw"></i><span>Submenu 1</span><i
												class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
										<ul role="menu">
												<li id="menuform:pm_sm11" role="menuitem"><a href="#"><i
														class="fa fa-sign-in fa-fw"></i><span>Submenu 1.1</span><i
														class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
												<ul role="menu">
														<li id="menuform:pm_lnk111" role="menuitem"><a
															href="#"><i class="fa fa-sign-in fa-fw"></i><span>Link
																	1.1.1</span></a></li>
														<li id="menuform:pm_lnk112" role="menuitem"><a
															href="#"><i class="fa fa-sign-in fa-fw"></i><span>Link
																	1.1.2</span></a></li>
														<li id="menuform:pm_lnk113" role="menuitem"><a
															href="#"><i class="fa fa-sign-in fa-fw"></i><span>Link
																	1.1.3</span></a></li>
													</ul></li>
												<li id="menuform:pm_sm12" role="menuitem"><a href="#"><i
														class="fa fa-sign-in fa-fw"></i><span>Submenu 1.2</span><i
														class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
												<ul role="menu">
														<li id="menuform:pm_lnk121" role="menuitem"><a
															href="#"><i class="fa fa-sign-in fa-fw"></i><span>Link
																	1.2.1</span></a></li>
													</ul></li>
											</ul></li>
										<li id="menuform:pm_sm2" role="menuitem"><a href="#"><i
												class="fa fa-sign-in fa-fw"></i><span>Submenu 2</span><i
												class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
										<ul role="menu">
												<li id="menuform:pm_sm21" role="menuitem"><a href="#"><i
														class="fa fa-sign-in fa-fw"></i><span>Submenu 2.1</span><i
														class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
												<ul role="menu">
														<li id="menuform:pm_lnk211" role="menuitem"><a
															href="#"><i class="fa fa-sign-in fa-fw"></i><span>Link
																	2.1.1</span></a></li>
														<li id="menuform:pm_lnk212" role="menuitem"><a
															href="#"><i class="fa fa-sign-in fa-fw"></i><span>Link
																	2.1.2</span></a></li>
													</ul></li>
												<li id="menuform:pm_sm22" role="menuitem"><a href="#"><i
														class="fa fa-sign-in fa-fw"></i><span>Submenu 2.2</span><i
														class="fa fa-fw layout-submenu-toggler fa-angle-down"></i></a>
												<ul role="menu">
														<li id="menuform:pm_lnk221" role="menuitem"><a
															href="#"><i class="fa fa-sign-in fa-fw"></i><span>Link
																	2.2.1</span></a></li>
													</ul></li>
											</ul></li>
									</ul></li>
								<li id="menuform:pm_doc" role="menuitem"><a
									href="docs.xhtml%3bjsessionid%3dnode0rquzhmlzal639rc37783o8hr84436.html"><i
										class="fa fa-book fa-fw"></i><span>Docs</span></a></li>
								<li id="menuform:pm_buynow" role="menuitem"><a
									href="https://www.primefaces.org/store"><i
										class="fa fa-credit-card-alt fa-fw"></i><span>Buy Now</span></a></li>
							</ul>
							<script id="menuform:j_idt171_s" type="text/javascript">PrimeFaces.cw("Manhattan","widget_menuform_j_idt171",{id:"menuform:j_idt171"});</script>
							<input type="hidden" name="javax.faces.ViewState"
								id="j_id1:javax.faces.ViewState:24"
								value="4466647942810343887:8584916988927749883"
								autocomplete="off" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="j_idt174"
		style="width: 32px; height: 32px; position: fixed; right: 7px; bottom: 7px">
		<div id="j_idt174_start" style="display: none">
			<i class="fa fa-circle-o-notch fa-spin ajax-loader"
				aria-hidden="true"></i>
		</div>
		<div id="j_idt174_complete" style="display: none"></div>
	</div>
	<script id="j_idt174_s" type="text/javascript">$(function(){PrimeFaces.cw("AjaxStatus","widget_j_idt174",{id:"j_idt174"});});</script>

</ui:composition>

